In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
dataset = pd.read_csv('C:/D/Uni/AD/task_1_ar/dataset/Online Retail.csv', delimiter=';', header=None)

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
dataset.head()

,0,1,2,3,4,5,6,7
0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01 12 10 8:26,"2,55",17850,United Kingdom
2,536365,71053,WHITE METAL LANTERN,6,01 12 10 8:26,"3,39",17850,United Kingdom
3,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01 12 10 8:26,"2,75",17850,United Kingdom
4,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01 12 10 8:26,"3,39",17850,United Kingdom

In [13]:
dataset.fillna(method='ffill', axis=1, inplace=True)

In [14]:
dataset.head()

,0,1,2,3,4,5,6,7
0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01 12 10 8:26,"2,55",17850,United Kingdom
2,536365,71053,WHITE METAL LANTERN,6,01 12 10 8:26,"3,39",17850,United Kingdom
3,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01 12 10 8:26,"2,75",17850,United Kingdom
4,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01 12 10 8:26,"3,39",17850,United Kingdom

In [19]:
# создаим из них матрицу
transactions = []

In [21]:
print(dataset.shape)

(541910, 8)

In [22]:
for i in range(0, 7501):
    transactions.append([str(dataset.values[i, j]) for j in range(0, 8)])

## Apriori

In [26]:
#загружаем apriori
import apyori

In [ ]:
%%time
# и обучимся правилам. Обратите внимание, что пороговые значения мы вибираем сами в зависимости от того, /
# насколкьо "сильные" правила мы хотим получить
# min_support -- минимальный support для правил (dtype = float).
# min_confidence -- минимальное значение confidence для правил (dtype = float)
# min_lift -- минимальный lift (dtype = float)
# max_length -- максимальная длина itemset (вспоминаем про k-itemset)  (dtype = integer)

result = list(apyori.apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 4, min_length = 2))

In [ ]:
#Визуализируем выход

In [ ]:
import shutil, os

In [ ]:
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO

In [ ]:
import json #преобразовывать будем в json, используя встроенные в модуль методы

In [ ]:
output = []
for RelationRecord in result:
    o = StringIO()
    apyori.dump_as_json(RelationRecord, o)
    output.append(json.loads(o.getvalue()))
data_df = pd.DataFrame(output)

In [ ]:
# и взгялнем на итоги
pd.set_option('display.max_colwidth', -1)

from IPython.display import display, HTML

display(HTML(data_df.to_html()))

In [ ]:
## FP Growth